*.o
src/*.o
design
libteno.so
example/teno_exp_1
teno_exp_1
pthreads
test/
src/do_not_trace/
src/cscope.*
cscope.*
example/teno_exp_2_server
example/teno_exp_2_client
src/nul
example/*.o
**.o
