*.o
./src/*.o
./example/*.o
design
libteno.so
./example/teno_exp_1
/.gitignore
teno_exp_1
pthreads
test/
/src/cscope.po.out
/src/cscope.in.out
/src/cscope.out
/cscope.in.out
/cscope.out
/cscope.po.out
