.obj
msvs
design
/.gitignore
pthreads
teno.PS
teno.IAB
teno.IAD
teno.IMB
teno.IMD
teno.PFI
teno.PO
teno.PR
teno.PRI
/teno.lib
/src/Makefile
/src/base
/src/log
/src/mem
/src/pub
/src/stl
/test
/var.mk
/dep
/src/cscope.po.out
/src/cscope.in.out
/src/cscope.out
/cscope.in.out
/cscope.out
/cscope.po.out
/teno.SearchResults
/teno.WK3
